.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgb(0, 0, 0, 0.2);

    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-inner {
    position: relative;
    background-color: white;
    max-width: 640px;
    max-height: 640px;
}

.popup-in-anim {
    opacity: 0;
    animation: popin 0.5s forwards;
}

@keyframes popin {
    0% {
        transform: scale(0.8) translateY(1000px);
        opacity: 0;
    }

    100% {
        transform: scale(1) translateY(0px);
        opacity: 1;
    }
}

.rounded {
    border-radius: 25px;
}

.mobile-header {
    display: none;
}

.mobile-title {
    display: none;
}

.mobile-footer {
    display: none;
}

.mobile-button {
    display: none;
}

.mobile-back-button {
    display: none;
    border-style: none;
    background: white;
    position: absolute;
    top: 6px;
    left: 5px;
    color: #0D6EFD;
}

.modal-footer {
    display: flex;
    justify-content: space-between;
}

.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 1000px) {

    .modal-inner {
        position: relative;
        background-color: white;
        max-width: none;
        max-height: none;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-between;
        flex-flow: column;
    }
    .modal{
        overflow-y: hidden; /* Hide vertical scrollbar */
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    .modal-header {
        display: none;
    }

    .rounded {
        border-radius: 0px;
    }

    .modal-footer {
        display: none;
    }

    .mobile-header {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 5px;
    }

    .mobile-title {
        display: block;
    }

    .mobile-back-button {
        display: block;
    }

    .mobile-footer {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }

    .mobile-button {
        display: block;
        width: auto;
        margin-top: 15px;
        width: 200px;
    }

    .modal-body {
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
}