.navButtons {
    display: flex;
    justify-content: space-between;
}

.buttonMargin {
    margin-left: 10px;
}

@media screen and (max-width: 1000px) {

    .navButtons {
        flex-flow: column-reverse nowrap;
    }

    .buttonMargin {
        margin-left: 0px;
        margin-bottom: 10px;
        width: 100%;
        background-color: #FFF;
    }
}